@font-face {
  src:url(../fonts/BMJUA_ttf.ttf);
  font-family: Jua;
}

* {
  box-sizing: border-box;
  font-family: Jua;
  color: #58595B;
}

body {
  background-color: #F0E8D9
}

.title {
  text-align: center;
  margin: 75px 0;
}

.title h1 {
  font-size: 64px;
  margin-bottom: 30px;
}

.title h2 {
  font-size: 32px;
}

.contents {
  width: 660px;
  margin: 0 auto;
}

.food {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  margin: 0 15px 50px 15px;
  float: left;
}

.food img {
  width: 300px;
  height: 200px;

}

.food .text {
  padding: 20px;
}

.food .text h3 {
  text-align: center;
  font-size: 32px;
  margin: 0 0 0 20px;
}
